# Папки виртуального окружения
venv/
.venv/
env/
.env/

# Папки с данными и результатами
train/
client/
tasks_storage/
test_images/  # Если не хочешь хранить тестовые картинки в репо
test_results/
# Если у тебя есть папка с датасетом, добавь ее тоже!
# Например:
# car_dataset_raw/

# Папки IDE и редакторов
.idea/
.vscode/

# Кэш Python
__pycache__/
*.pyc

# Модели (лучше использовать Git LFS или хранить отдельно)
# Раскомментируй, если не хочешь хранить их в Git
# *.pt
# *.onnx

# Локальные файлы конфигурации
.env

# Системные файлы
.DS_Store
Thumbs.db